article,
aside,
figure,
figcaption,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
 

body {
    background-color: #696969;
    margin: 0 auto 0 auto;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.content {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 120px;
    background-color: #1b272c;
    padding: 10px;
   
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

header img {
    width: 350px;
    height: 110px;
    display: block;
    float: left;
}

header h1 {
    padding: 0px;
    margin: 7px;
}

header h2 {
    padding: 0px;
    margin: 7px;
    font-size: 20px;
}

nav {
    width: 100%;
    height: 150px;
    background-color: #000000;
    margin: 300px 0 0 0 ;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    width: 1080px;
    height: 730px;
    float: left;
    background-color: #696969;
    padding: 10px;
    margin: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

article header {
    width: 740px;
    height: 50px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px;
    margin: 10px 0 0 0;
    background-color: #dcd6cd;
}

article section {
    width: 740px;
    height: 120px;
    background-color: #dcd6cd;
    padding: 10px;
    margin: 10px 0 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

article p {
    padding: 10px;
    margin: 10px 10px 0px;
    font-size: 18px;
}

article footer {
    width: 740px;
    height: 50px;
    background-color: #dcd6cd;
    padding: 10px;
    margin: 10px 0 0 10px;
    color: #000;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}



footer {
    clear: both;
    width: 100%;
    height: 50px;
    background-color: #1b272c;
    padding: 10px;
    margin: 10px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
}

ul form {
    display: flex;
    gap: 20px;
}

ul form div {
    display: flex;
    align-items: center;
}

ul li {
    font: bold 13px/18px sans-serif;
 
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 14px 20px;
    background: #1b272c;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

ul li a {
    color:#F8F8FF;
}

ul li:hover {
    background: #2200e0;
    color: #fff;
}

ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    
}

ul li ul li {
    background: #555;
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}

ul li ul li:hover {
    background: #FE0B01;
}

ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.img_sk {
    height: 225px;
    width: 225px;
}

.container-imgs {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

sium {
    width: 250px;
    height: 180px;
    border-radius: 20px;
    background-color: rgb(238, 9, 9);
    position: relative;
}

.sium p {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}



.big{ width: 5em; height: 5em; 
    display: flex;
    align-items: center;

}


.label {
    color: white;

    font-size: 40px;
   
  }
  
  .h1txt{
    color: #F8F8FF ;
    font-size: 40px;
    text-align:center
    

  }