article,
aside,
figure,
figcaption,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
 
body {
    width: 1200px;
    margin: 0 auto 0 auto;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

header {
    width: 1160px;
    height: 100px;
    background-color: #eeff00;
    padding: 10px;
    margin: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

header img {
    width: 95px;
    display: block;
    float: left;
}

header h1 {
    padding: 0px;
    margin: 7px;
}

header h2 {
    padding: 0px;
    margin: 7px;
    font-size: 20px;
}

nav {
    width: 1180px;
    height: 48px;
    background-color: #ffee00;
    margin: 10px 10px 0 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

article {
    width: 760px;
    height: 6250px;
    float: left;
    background-color: #dcd6cd;
    padding: 10px;
    margin: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

article header {
    width: 740px;
    height: 50px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px;
    margin: 10px 0 0 0;
    background-color: #dcd6cd;
}

article section {
    width: 740px;
    height: 120px;
    background-color: #dcd6cd;
    padding: 10px;
    margin: 10px 0 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

article p {
    padding: 10px;
    margin: 10px 10px 0px;
    font-size: 18px;
}

article footer {
    width: 740px;
    height: 50px;
    background-color: #dcd6cd;
    padding: 10px;
    margin: 10px 0 0 10px;
    color: #000;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

footer {
    clear: both;
    width: 1160px;
    height: 50px;
    background-color: #4b4a48;
    padding: 10px;
    margin: 10px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
}

ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #FFC163;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

ul li a {
    color: #000;
}

ul li:hover {
    background: #555;
    color: #fff;
}

ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

ul li ul li {
    background: #555;
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}

ul li ul li:hover {
    background: #666;
}

ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.img_sk {
    height: 225px;
    width: 225px;
}

.container-imgs {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

sium {
    width: 250px;
    height: 180px;
    border-radius: 20px;
    background-color: rgb(238, 9, 9);
    position: relative;
}

.sium p {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

