<!DOCTYPE html>
<html lang="it">

<head>

    <meta charset="utf-8">
    <title>HypeSkate</title>
    <link href="static/css/choice.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/GButton.css">

</head>

<body>

    <header>
        <img src="static/img/logo/logo_large.png" />
    </header>

    <div class="content">
        <section>
            <article>
                <nav>
                    <ul>
                        <form action="/selezione" method="GET">

                            <input id="r1" type="radio" name="Scelta" class="radio1" value="utente" />
                            <label for="r1">User</label>

                            <button id="gooey-button">
                                Confirm
                                <span class="bubbles">

                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    
                                </span>
                            </button>

                            <input id="r2" type="radio" name="Scelta" class="radio2" value="ospite" />
                            <label for="r2">Guest</label>




                        </form>
                    </ul>
                </nav>
            </article>
        </section>
    </div>

    <footer>

        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>

    </footer>

</body>

<svg>
    <defs>
        <filter id="gooey">
            <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
            <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                result="highContrastGraphic" />
            <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
        </filter>
    </defs>
</svg>

</html>

