<!DOCTYPE html>
<html lang="it">

<head>

    <meta charset="utf-8">
    <title>HypeSkate</title>
    <link href="static/css/choice.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/GButton.css">

</head>

<body>

    <header>
        <img src="static/img/logo/logo_large.png" />
    </header>

    <div class="content">
        <section>
            <article>
                <h1 class="h1txt">Questo sito è stato sviluppato per la vendita on-line  di componenti per lo Skateboards,inoltre  sono indicati gli skatepark e gli skateshop di milano </h1>
                <nav>
                    <ul>
                        <form action="/selezione" method="GET">

                            <div>
                                <input type="radio" name="Scelta" class="big" value="utente" />
                                <label class="label">User</label>
                            </div>
                            <div>
                                <input id="r2" type="radio" name="Scelta" class="big" value="ospite" />
                                <label class="label">Guest</label>
                            </div>
                            <button id="gooey-button">
                                Confirm
                                <span class="bubbles">

                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>
                                    <span class="bubble"></span>

                                </span>
                            </button>






                        </form>
                    </ul>
                </nav>
            </article>
        </section>
    </div>

    <footer>
        <p>Copyright 2021 - Solotchi Livio - Solotchi.livio@iisgalvanimi.edu.it</p>
    </footer>

</body>

<svg>
    <defs>
        <filter id="gooey">
            <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
            <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                result="highContrastGraphic" />
            <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
        </filter>
    </defs>
</svg>

</html>