<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Contatti</title>
    <link href="static/css08-11 (2021).css" rel="stylesheet">
</head>
 
<body>
    <header>
        <img src="static/logo_large.png" />
        <h1>Skate Shop </h1>
        <h1>Contatti</h1>

    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>

        </ul>

    </nav>

    <section>

        <article>
            <header>
                <h1>About me</h1>
            </header>
            <p>non saprei cosa mettere ma comunque mi chiamo livio, mi trovate in via"----" numero tel"------" email"-------"</p>
            </p>

        </article>
    </section>

   
    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>