<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Cuscinetti</title>
    <link href="static/css/css08-11 (2021).css" rel="stylesheet">
</head>
 
<body>
    <header>
        <img src="static/img/logo/logo_large.png" />
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>

        </ul>

    </nav>

    <section>

        <article>
            <div class="container-imgs"> Cuscinetti
                <div>
                    <img src="" width:="150" height="180" />
                    <p>Bronson Ceramic 89,90 €</p>
                </div>
                <div> <img src="" width:="150" height="180" />
                    <p>Independent GP-R 19,90 €</p>
                </div>

                <div>
                    <img src="" width:="150" height="180" />
                    <p> Bronson Raw 49,90 €</p>
                </div>
                <div>
                    <img src="" width:="150" height="180" />
                    <p>Bronson G2 24,90 €</p>
                </div>
                <div>
                    <img src="" width:="150" height="180" />
                    <p>Grizzly Ings 25,80 €</p>
                </div>
                <div>
                    <img src="" width:="150" height="180" />
                    <p>Bones Reds 24,90 €</p>
                </div>
            </div>
        </article>
    </section>

   
    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>