<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>SkateSho</title>
    <link href="../static/css/css08-11(2022)dettaglio.css" rel="stylesheet">
</head>

<body>
    <header>
        <img src="../static/img/logo/logo_large.png" />
    </header>

    <div class="content">
        <section>
            <article>
                <p class="title">{{marca[0]}}</p>
                <img class="img-details"  src="../static/img/truck/{{foto[0]}}" />
                <p class="dimension">dimensione: <b>{{dimensione[0]}}</b></p>
                <p class="price">Prezzo: <b>{{prezzo[0]}}</b></p>
            </article>
        </section>
    </div>

    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>