<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Grip-tape</title>
    <link href="static/css/prodotti.css" rel="stylesheet">

</head>
 
<body>
    <header>
        <img src="static/img/logo/logo_large.png"/>

    </header>
    <nav>
        <ul>
            <li><a href="/storia">Storia</a></li>
            <li> <a href="/home">Skateboards</a>
                <ul>
                    <li><a href="/tavole">Tavole</a></li>
                    <li><a href="/truck">Truck</a></li>
                    <li><a href="/ruote">Route</a></li>
                    <li><a href="/cuscinetti">Cuscinetti</a></li>
                    <li><a href="/hardware">Hardware</a></li>
                    <li><a href="/grip_tape">Grip-tape</a></li>
                    <li><a href="/tool">Tool</a>
                    <li><a href="/wax">Wax</a>
                </ul>
            </li>
            <li> <a href="/home">Guida</a>
                    <ul>
                        <li><a href="/guida_tavole">Guida Tavole</a></li>
                        <li><a href="/guida_truck">Guida Truck</a></li>
                        <li><a href="/guida_ruote">Guida Ruote</a></li>
                    </ul>
            </li>

            <li><a href="/contatti">Contatti</a></li>
            <li><a href="/maps">dove trocarci</a></li>
            <li><a href="/skatepark">skatepark</a></li>
            <li> <a href="/skateshop">skateshop</a>
        </ul>
    </nav>

    <section>
        <article>
            <div class="container-imgs">
               
                {%for image in risultato%}
                <a href="/dettaglio_grip/{{image}}"><img src="static/img/grip-tape/{{image}}" /></href>
                {%endfor%}

        </article>
    </section>

    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>