<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Grip-tape</title>
    <link href="static/css/css08-11 (2021).css" rel="stylesheet">
</head>
 
<body>
    <header>
        <img src="static/img/logo/logo_large.png" />
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>

        </ul>

    </nav>

    <section>

        <article>
            <div class="container-imgs">
                <div>
                    <img src="https://media.titus.de/media/image/2b/e9/b5/mob-griptape-griptape-mob-black-9-33-black-vorderansicht-0140703_600x600.jpg" width:="150" height="180" />
                    <p>MOB-black € 7,99</p>
                </div>
                <div> <img src="https://media.titus.de/media/image/eb/6b/0b/shake-junt-griptape-peterson-black-red-vorderansicht-0142850_600x600.jpg" width:="150" height="180" />
                    <p>Shake-Junt € 14,99</p>
                </div>

                <div>
                    <img src="https://media.titus.de/media/image/38/6d/57/MOB-Griptape-Griptape-Clear-Grip-clear-Vorderansicht_600x600.jpg" width:="150" height="180" />
                    <p>MOB-clear € 9,99</p>
                </div>
                <div>
                    <img src="https://media.titus.de/media/image/40/78/7d/toy-machine-griptape-insecurity-sticker-pack-set-multicolored-vorderansicht-0142774_600x600.jpg" width:="150" height="180" />
                    <p>Toy-Machine € 13,99</p>
                </div>
                <div>
                    <img src="https://media.titus.de/media/image/99/61/13/mob-griptape-griptape-samborghini-rose-vorderansicht-0142911_600x600.jpg" width:="150" height="180" />
                    <p>MOB-rose € 15,99</p>
                </div>
                <div>
                    <img src="https://media.titus.de/media/image/a7/9b/82/mob-griptape-griptape-thrasher-flame-logo-laser-cut-black-vorderansicht-0140612_600x600.jpg" width:="150" height="180" />
                    <p>MOB-trasher € 13,99</p>
                </div>
            </div>
        </article>
    </section>

   
    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>