<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Guida Ruote</title>
    <link href="static/css/guidaruote.css" rel="stylesheet">

</head>
 
<body>
    <header>
        <img src="static/img/logo/logo_large.png" />

    </header>
    <nav>
        <ul>
            <li> <a href="/home">Home</a>
            <li><a href="/storia">History</a></li>
            <li> <a href="/home">Skateboards</a>
                <ul>
                    <li><a href="/tavole">Deck</a></li>
                    <li><a href="/truck">Truck</a></li>
                    <li><a href="/ruote">Wheels</a></li>
                    <li><a href="/cuscinetti">Bearings</a></li>
                    <li><a href="/hardware">Hardware</a></li>
                    <li><a href="/grip_tape">Grip-tape</a></li>
                    <li><a href="/tool">Tool</a>
                    <li><a href="/wax">Wax</a>
                </ul>
            </li>
            <li> <a href="/home">Guide</a>
                    <ul>
                        <li><a href="/guida_tavole">Guide Deck</a></li>
                        <li><a href="/guida_truck">Guide Truck</a></li>
                        <li><a href="/guida_ruote">Guide Wheels</a></li>
                    </ul>
            </li>

            <li><a href="/contatti">Contacs</a></li>
            <li><a href="/maps">Where to find us</a></li>
            <li><a href="/skatepark">Skatepark</a></li>
            <li> <a href="/skateshop">Skateshop</a>
        </ul>
    </nav>

    <section>
        <article>
            <header>
                <h1>SKATEBOARD WHEELS: GENERAL INFO</h1>

            </header>
            <p>Senza le ruote il pattinaggio sarebbe piuttosto difficile. Accanto al deck e ai truck, le ruote sono una componente importante della configurazione del tuo skateboard. Ecco perché entreremo nei dettagli per spiegarti di cosa sono fatte le
                ruote da skateboard, qual è il problema con le ruote dure e morbide e la giusta dimensione per il tuo setup. Ti forniremo anche una panoramica delle tecnologie più importanti in termini di ruote da skateboard.</p>
            <h2>SKATEBOARD WHEELS: MATERIAL</h2>
            <P>DI COSA SONO FATTE LE RUOTE DA SKATEBOARD? Nei tempi antichi dello skateboard , le ruote da skateboard erano costruite in metallo. Le ruote erano in realtà destinate ai pattini a rotelle, ma i pattinatori le attaccavano comunque alle loro
                tavole. Questa pratica è stata fortunatamente conclusa con l'invenzione della prima ruota in uretano di Frank Nasworthy negli anni '70. Da allora, le ruote da skateboard sono state realizzate in poliuretano plastico. Tuttavia, è spesso
                indicato come uretano. Questo materiale versatile può essere prodotto in vari gradi di durezza e ha quindi dominato il mercato delle ruote da skateboard. Ma non tutto l'uretano è uguale, né tutte le ruote sono uguali. I diversi marchi
                di ruote da skateboard cercano costantemente nuove miscele di materiali per rendere le ruote più resistenti, più veloci, più lisce, scivolare meglio e per renderle particolarmente resistenti ai punti piatti. Ma ci arriveremo più tardi.</P>
            <h2>SKATEBOARD WHEELS: WHAT ARE FLAT SPOTS?</h2>
            <P>Quando si fanno powerslide (ruotare la tavola lateralmente e scivolare su tutte e quattro le ruote, perpendicolarmente alla loro direzione di rotolamento per rallentare la tavola), 180 powerslide (ruotare la tavola di 180° mentre si pattina
                senza fare un ollie o altri trucchi), e altri trucchi di scivolata come il lato smussato, è possibile che le tue ruote diventino gravemente abrase e svilupperai punti piatti sulle ruote. Quando ciò accade, la tua ruota non sarà più perfettamente
                rotonda e, di conseguenza, non ruoterà correttamente. Questo accade più comunemente con le ruote morbide.</P>
            <h2>SKATEBOARD WHEELS: STANDARD WHEEL VS. CORE WHEEL</h2>
            <P>Le distinzioni di base nelle ruote da skateboard sono le ruote standard e le ruote core. A differenza delle ruote standard (dette anche "ruote senza nucleo" ), le ruote con nucleo hanno un nucleo in plastica, più duro del resto della ruota.
                Questo nucleo in plastica consente di risparmiare peso e aiuta anche i cuscinetti a rimanere in posizione, impedendo loro di essere forzati nella ruota.</P>
            <img src="https://www.skatedeluxe.com/blog/wp-content/uploads/2016/12/skateboard-wheels-standard-wheel-core-wheel.svg" width:="150" height="180" />
            <p>1. Ruota standard 2. Ruota centrale</p>
            <h1>SKATEBOARD WHEELS: HOW TO CHOOSE YOUR WHEELS</h1>
            <P>Quando acquisti le ruote, dovresti assicurarti che le dimensioni e la durezza si adattino alla tua configurazione e al tuo stile di pattinaggio. Non farti prendere dal panico però; ti faremo sapere cosa succede con le diverse dimensioni delle
                ruote, i livelli di rigidità e l'area di contatto.</P>
            <h2>SKATEBOARD WHEELS: THE RIGHT HEIGHT</h2>
            <P>Le ruote da skateboard sono disponibili in diverse dimensioni. La specifica delle dimensioni indica il diametro delle ruote ed è espressa in millimetri (mm). In generale, le ruote da skateboard hanno un diametro compreso tra 50 mm e 59 mm
                . Qualsiasi cosa più grande non è adatta al tuo skateboard ed è destinata a cruiser o longboard.*</P>
            <p>1. Skateboard su strada 2. Ruote All-Around (Street, Park, Mini-Ramp) 3. Vert & Cruising 4. Cruising & Longboarding</p>
            <img src="https://www.skatedeluxe.com/blog/wp-content/uploads/2016/12/skateboard-wheel-size-speed-acceleration.svg" width:="150" height="180" />
            <p>1. Accelerazione 2. Velocità</p>
            <p>* La nostra raccomandazione è pensata per lo street skateboarding. Qui è comune utilizzare ruote con un diametro fino a 59 mm. Naturalmente, puoi anche usare ruote più grandi come le ruote Bones SPF da 60 mm per una configurazione da skateboard.
                Tuttavia, è più probabile che vengano utilizzati per configurazioni specifiche (ad esempio, schede cruiser e filmer) o per lo skateboarding verticale. Le ruote più piccole accelerano più velocemente e sono più leggere e compatte. Tuttavia,
                la loro velocità massima è inferiore rispetto alle ruote più grandi. Inoltre, con le ruote più grandi, sarai al sicuro quando guidi su terreni accidentati poiché non saranno fermate da ogni piccola pietra che attraversa il tuo percorso.
                Le ruote più grandi sono dedicate a raggiungere velocità più elevate e sono più resistenti. QUINDI, PER SCOMPORRE TUTTO PER TE: PER LO SKATEBOARD DA STRADA USA RUOTE PICCOLE TRA 50 – 53 MM , PER PICCOLE RAMPE E MINI-RAMPE USA RUOTE DI
                MEDIE DIMENSIONI DA 53 – 56 MM , PER LO SKATEBOARD VERT, USA RUOTE PIÙ GRANDI FINO A 59 MM. Per i principianti e per tutti gli indecisi, consigliamo ruote all-around con un diametro di 53-56 mm. Questa gamma di taglie è attualmente la
                più popolare tra i pattinatori. RUOTE DA SKATEBOARD: DIMENSIONI SUGGERITE IN BASE AI TUOI CAMION Quando acquisti ruote da skateboard, dovresti assicurarti che le dimensioni della tua ruota si adattino alla tua configurazione. Ciò che è
                cruciale qui è la selezione del tuo camion. Quando i tuoi camion e le tue ruote non vanno bene l'uno per l'altro, ti ritroverai con dei brutti morsi di ruota. COSA SONO I WHEELBITES? Un wheelbite è il risultato del tuo piatto che entra
                in contatto con le tue ruote. Se pattini con ruote grandi, la distanza tra queste e la tavola da skateboard è minore. Acrobazie di atterraggio e virate dure possono produrre questo spiacevole incontro tra ponte e ruota, portando a un arresto
                molto brusco e probabilmente doloroso. Come avrai intuito, le ruote più grandi richiedono anche camion più alti. Naturalmente, con ruote grandi e camion alti, l'intera configurazione sarà un po' più alta. Ci sono due cose che dovresti
                tenere a mente con una tale configurazione: 1. Durante il pop-off, la coda deve percorrere una lunga distanza fino a toccare il suolo. Di conseguenza, l'angolo della tua tavola sarà più ripido e gli Ollies (teoricamente) saranno più alti.
                Se hai abbastanza potenza e gambe lunghe questo non dovrebbe essere un problema, ma i piccoli pattinatori e i principianti potrebbero affrontare dei momenti difficili qui. 2. Poiché la tavola è più alta da terra rispetto alle ruote piccole
                e ai truck bassi, dovrai piegare di più le ginocchia mentre spingi. Questo può diventare piuttosto estenuante. Se le dimensioni della tua ruota non si adattano ai tuoi camion, puoi utilizzare ammortizzatori o riser pad per aumentare la
                distanza tra il ponte e le ruote.</p>
            <img src="https://www.skatedeluxe.com/blog/wp-content/uploads/2016/12/skateboard-truck-size-recommendation-wheels.svg" width:="150" height="180" />
            <p>1. Dimensione del camion 2. Dimensione della ruota</p>
            <p>AUTOCARRI BASSI Se stai cercando truck bassi e preferisci pattinare senza riser o shock pad, ti consigliamo ruote con un'altezza massima di 52 mm.</p>
            <p>AUTOCARRI MEDI/STANDARD Nel caso in cui pattini con truck mid/standard senza pad, ti consigliamo ruote da skateboard tra 52 mm e 56 mm.</p>
            <p>AUTOCARRI ALTI Per i truck alti senza imbottiture, consigliamo ruote da skateboard fino a 58 mm.</p>
            <h2>SKATEBOARD WHEELS: THE RIGHT HARDNESS</h2>
            <P>Un'altra cosa da tenere a mente quando si acquistano ruote da skateboard è il livello di rigidità. COME VIENE DESCRITTA LA DUREZZA DELLE RUOTE DA SKATEBOARD? La durezza delle ruote da skateboard è data in Durometri , con l'unità di " A ".
                Questa cosiddetta scala A è una scala di 100 punti, con ruote da skateboard classificate tra 75A e 100A. Più alto è il numero, più dure sono le ruote. Poiché la scala A può descrivere accuratamente solo ruote fino a un livello di durezza
                di 100 A e diventa imprecisa con valori elevati, marchi come Bones Wheels utilizzano una scala aggiuntiva per descrivere più precisamente ruote con un durometro di 101 A - 104 A. Su questa “Scala B” sono rappresentate circa 20 unità aggiuntive.
                Per chiarire, una ruota Bones 83B corrisponde a una 103A e una ruota 84B corrisponde a una 104A. Queste ruote sono sostanzialmente più dure delle ruote della scala A. DI QUALE DUREZZA HO BISOGNO? Le ruote da skateboard morbide hanno più
                grip, sono più silenziose e assorbono le irregolarità del terreno meglio delle ruote dure. Per questo motivo, scorrono meno delle ruote dure e sono un po' più lente. Di seguito puoi scoprire quale grado di durezza individuale è più adatto
                a te.</P>
            <p>RUOTE SKATEBOARD MORBIDE | 78A – 92A Le ruote morbide sono adatte per superfici molto ruvide e per tavole da crociera e da film perché assorbono le irregolarità del terreno e riducono al minimo il rumore. Queste ruote hanno molto grip e sono
                più lente rispetto alle ruote dure. I powerslide sono molto più difficili da eseguire con le ruote morbide.</p>
            <p>RUOTE PER SKATEBOARD MEDIO DURE | 93A – 95A Le ruote da skateboard con una durezza da 93A a 95A sono leggermente più dure e veloci delle ruote morbide ma hanno comunque una buona presa. Se i tuoi spot stradali hanno un terreno molto accidentato,
                ma vuoi comunque pattinare su strada, o se vuoi semplicemente rilassarti e girare per la città, allora le ruote all'interno di questa gamma sono giuste per te.</p>
            <p>RUOTE PER SKATEBOARD RIGIDE | 95A – 99A Le ruote da skateboard nella gamma di durometro 95A – 99A sono le ruote perfette per ogni principiante. Che tu stia pattinando per le strade, negli skatepark o sulle mini rampe, starai bene con queste
                ruote. Scivoleranno quando vuoi, ti daranno abbastanza presa e sono ragionevolmente veloci.</p>
            <p>RUOTE DA SKATEBOARD MOLTO DURE | 99A – 101A E 83B – 84B Le ruote da skateboard molto dure della gamma 99A – 101A e oltre (così come le ruote 83B – 84B Bones Wheels) sono le ruote perfette per gli skater esperti. A causa della loro estrema
                durezza, scivolano velocemente, accelerano rapidamente, possono raggiungere velocità massime molto elevate. Per questo motivo sono ideali per lo skateboarding tecnico. Su superfici ruvide o molto scivolose, tuttavia, le ruote molto dure
                possono essere spiacevoli su cui pattinare.</p>

            <h2>SKATEBOARD WHEELS: THE RIGHT CONTACT PATCH</h2>
            <P>Dopo il diametro e il livello di durezza, selezionare la giusta zona di contatto è l'ultimo criterio su cui devi decidere quando scegli le ruote giuste per il tuo skateboard. Questa zona si riferisce alla parte della ruota che rimane a contatto
                con il suolo Le Ruote Slim e le Ruote Basic differiscono fondamentalmente per il fatto che le Ruote Basic hanno una superficie di contatto di 18-20 mm , mentre la gamma delle Ruote Slim è di 15-17 mm . Per questo motivo, l'attrito è ridotto
                al minimo durante il pattinaggio e lo scorrimento, rendendo le ruote strette particolarmente adatte al pattinaggio tecnico. Curiosità: tutte le informazioni su diametro, durezza e superficie di contatto di una ruota sono disponibili nelle
                descrizioni degli articoli. Inoltre, puoi utilizzare le opzioni di filtro per trovare facilmente il livello di durezza o le marche che stai cercando!</P>
            <p>

                1. Diametro 2. Toppa di contatto</p>
            <img src="https://www.skatedeluxe.com/blog/wp-content/uploads/2016/12/skateboard-wheels-contact-patch.svg" width:="150" height="180" />
            <p>1. Ruota base 2. Ruota sottile</p>
            <h1>SKATEBOARD WHEELS: ASSEMBLY, BEARING REMOVAL, MAINTENANCE</h1>
            <P>Qui puoi scoprire come inserire i cuscinetti nelle ruote e come montare le ruote sui tuoi camion. Ti diremo anche come rimuovere i cuscinetti dalle ruote, come prolungare la longevità delle ruote e cosa fare se smettono di rotolare.</P>
            <h2> SKATEBOARD WHEELS: ASSEMBLY</h2>
            <p>Ti mostreremo esattamente come montare le ruote sui tuoi camion e come inserire i cuscinetti nelle ruote nelle nostre Istruzioni di montaggio dello skateboard e nel video completo di seguito. Assicurati di non usare una forza eccessiva quando
                cerchi di inserire i cuscinetti, per non danneggiare il nucleo della ruota o il cuscinetto. Le ruote non devono essere né troppo larghe né troppo strette sull'asse. Cerca di lasciare alle ruote lo spazio sufficiente per lo spazio.</p>
            <h2>SKATEBOARD WHEELS: BEARING REMOVAL</h2>
            <p>ECCO COME SI TOGLI I CUSCINETTI DALLA RUOTA Se le tue ruote sono usurate, ma i tuoi cuscinetti funzionano ancora, puoi rimuoverli dalle ruote in pochi semplici passaggi. • Gira il mazzo su un lato, in modo che l'asse sia rivolto verso l'alto.
                • Allentare il dado del perno ruota e rimuovere l'anello di velocità massima. • Sfilare la ruota dall'asse e reinserirla leggermente inclinata. In questo modo, dovresti essere in grado di sollevare il cuscinetto dal nucleo della ruota.
                • Assicurati di non applicare troppa forza o danneggerai il cuscinetto. Ci vorrà un po' di muscoli però.</p>
            <h2>PROLONGING THE LIFESPAN OF YOUR WHEELS</h2>
            <p>Ogni pattinatore ha le sue preferenze di pattinaggio. Che sia il tuo percorso tipico allo skatepark, o se preferisci fare le tue derapate davanti o dietro, tutto influisce sull'usura delle tue ruote. Per evitare l'usura unilaterale delle ruote,
                puoi scambiare regolarmente la posizione delle ruote in modo che si consumino in modo uniforme. • OPZIONE 1: puoi girare le ruote nel modo più semplice. Prendi il lato della ruota che era rivolto verso l'esterno e rivolto verso l'interno.
                • OPZIONE 2: la cosa più efficace è quando cambi le ruote secondo un modello a X. Cioè, si scambia la ruota anteriore destra con la ruota posteriore sinistra e la ruota posteriore anteriore sinistra con quella posteriore destra.</p>
            <h2>SKATEBOARD WHEELS: YOUR WHEELS AREN’T TURNING?</h2>
            <p>Ci sono diversi motivi per cui le ruote del tuo skateboard potrebbero non ruotare correttamente. Per prima cosa dovresti assicurarti che il dado dell'asse non sia troppo stretto e che l'area tra i cuscinetti, l'anello di velocità, l'asse e/o
                il dado dell'asse non sia troppo sporca. In tal caso, svitare le ruote e pulire le parti con un panno umido. Se le ruote non girano ancora, il problema probabilmente risiede nei cuscinetti. È probabile che abbiano solo bisogno di essere
                puliti. Scopri come pulire correttamente i tuoi cuscinetti nel Wiki dei cuscinetti. Se dopo tutto ciò, le tue ruote continuano a non funzionare, è tempo di nuovi cuscinetti.</p>

        </article>
    </section>

    <footer>
        <p>Copyright 2021 - Solotchi Livio - Solotchi.livio@iisgalvanimi.edu.it</p>
    </footer>

</body>

</html>