<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Hardware</title>
    <link href="static/css/css08-11 (2021).css" rel="stylesheet">
</head>
 
<body>
    <header>
        <img src="static/img/logo/logo_large.png" />
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>

        </ul>

    </nav>

    <section>

        <article>

            <div class="container-imgs">
                <div>
                    <img src="https://media.titus.de/media/image/f8/45/4b/Independent-Montagesaetze-7-8-Kreuz-black-gold-Vorderansicht_600x600.jpg" width:="150" height="180" />
                    <p>Independent € 4,49</p>
                </div>
                <div> <img src="https://media.titus.de/media/image/e4/78/c8/shake-junt-montagesaetze-1-allen-bag-o-bolts-no-color-vorderansicht-0196216_600x600.jpg" width:="150" height="180" />
                    <p>Shake Junt € 5,99</p>
                </div>

                <div>
                    <img src="https://media.titus.de/media/image/c6/59/29/pig-montagesaetze-1-inbus-prime-bolts-holographic-vorderansicht-0196205_600x600.jpg" width:="150" height="180" />
                    <p>Inbus € 8,99</p>
                </div>
                <div>
                    <img src="https://media.titus.de/media/image/59/cf/23/magenta-montagesaetze-7-8-allen-black-vorderansicht-0196262_600x600.jpg" width:="150" height="180" />
                    <p>MAgenta € 6,99</p>
                </div>
                <div>
                    <img src="https://media.titus.de/media/image/58/ba/00/Mini-Logo-Montagesaetze-1-1-4-Kreuz-no-color-Vorderansicht_600x600.jpg" width:="150" height="180" />
                    <p>Mini Logo € 3,99</p>
                </div>
                <div>
                    <img src="https://media.titus.de/media/image/38/6e/8e/enjoi-montagesaetze-little-buddies-anodized-7-8-multicolored-vorderansicht-0196217_600x600.jpg" width:="150" height="180" />
                    <p> Enjoi € 6,99</p>
                </div>
            </div>
        </article>
    </section>

   
    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>