<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>SkateShop</title>
    <link href="static/css/maps.css" rel="stylesheet">

</head>
 
<body>
    <header>
        <img src="static/img/logo/logo_large.png" />
    
    </header>

    <nav>
        <ul>
            <li> <a href="/home">Home</a>
            <li><a href="/storia">History</a></li>
            <li> <a href="/home">Skateboards</a>
                <ul>
                    <li><a href="/tavole">Deck</a></li>
                    <li><a href="/truck">Truck</a></li>
                    <li><a href="/ruote">Wheels</a></li>
                    <li><a href="/cuscinetti">Bearings</a></li>
                    <li><a href="/hardware">Hardware</a></li>
                    <li><a href="/grip_tape">Grip-tape</a></li>
                    <li><a href="/tool">Tool</a>
                    <li><a href="/wax">Wax</a>
                </ul>
            </li>
            <li> <a href="/home">Guide</a>
                    <ul>
                        <li><a href="/guida_tavole">Guide Deck</a></li>
                        <li><a href="/guida_truck">Guide Truck</a></li>
                        <li><a href="/guida_ruote">Guide Wheels</a></li>
                    </ul>
            </li>

            <li><a href="/contatti">Contacs</a></li>
            <li><a href="/maps">Where to find us</a></li>
            <li><a href="/skatepark">Skatepark</a></li>
            <li> <a href="/skateshop">Skateshop</a>
        </ul>
    </nav>

    <div class="content">
        <section>
            <article>
                <p style="color:blue;">SKATESHOP</p>
                <p style="color:RED;">SKATEPARK</p>
                <div class="container-imgs">
                <img src="/mappa">
            </article>
        </section>
    </div>

    <footer>
        <p>Copyright 2021 - Solotchi Livio - Solotchi.livio@iisgalvanimi.edu.it</p>
    </footer>

</body>

</html>