<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Ruote</title>
    <link href="static/css/css08-11 (2021).css" rel="stylesheet">
</head>
 
<body>
    <header>
        <img src="static/img/logo/logo_large.png" />
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>

        </ul>

    </nav>

    <section>

        <article>
            <div class="container-imgs">
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1625743533-03189300.jpg" width:="150" height="180" />
                    <p>Spitfire 99A 53mm 59,80 €</p>
                </div>
                <div> <img src="https://www.fillow.it/images/products/thumbnails/1632825902-37572900.jpg" width:="150" height="180" />
                    <p>Darkstar 99A 53 mm 27,00 €€</p>
                </div>
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1632824650-42335300.jpg" width:="150" height="180" />
                    <p>Blind99A 51 mm 27,00 €</p>
                </div>
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1632477793-47975600.jpg" width:="150" height="180" />
                    <p> BDSkateCO 53 mm 21,90 €</p>
                </div>
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1619026962-68821400.jpg" width:="150" height="180" />
                    <p>Santa Cruz 97A 53 mm 47,90 €</p>
                </div>
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1618229293-01634200.jpg" width:="150" height="180" />
                    <p>Madness 54mm 49,90 €</p>
                </div>
            </div>
        </article>
    </section>

    
    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>