<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Ruote</title>
    <link href="static/css/css08-11 (2021).css" rel="stylesheet">
</head>
 
<body>
    <header>
        <img src="static/img/logo/logo_large.png" />
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li> <a href="/home">Skateboards</a>
                <ul>
                    <li><a href="/tavole">Tavole</a></li>
                    <li><a href="/truck">Truck</a></li>
                    <li><a href="/ruote">Route</a></li>
                    <li><a href="/cuscinetti">Cuscinetti</a></li>
                    <li><a href="/hardware">Hardware</a></li>
                    <li><a href="/grip_tape">Grip-tape</a></li>
                    <li><a href="/tool">Tool</a>
                    <li><a href="/wax">Wax</a>
                </ul>
            </li>

        </ul>

    </nav>

    <section>

        <article>
            <div class="container-imgs">
                
                {%for image in risultato%}
                <a href="../dettaglio_ruote/{{image}}"><img src="static/img/route/{{image}}" /></href>
                {%endfor%}

        </article>
    </section>

    
    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>