<!DOCTYPE html>
<html lang="it">
    
<head>
    <meta charset="utf-8">
    <title>Skatepark</title>
    <link href="static/css08-11 (2021).css" rel="stylesheet">
</head>
 
<body>
    <header>
        <img src="static/logo_large.png" />
    
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
        
            <li> <a href="/skatepark">skatepark</a>
        </ul>

    </nav>
    <div class="content">
        <section>
            <article>
                <form action="/ricercashop">
                    <input type="text" value="Inserisci lo shop da cercare" name='shop3'></input>
                    <input type="submit" value="cerca"></input>
                </form>
                <img src="/mappashop">
                {{risultatoshop|safe}}
                
            </article>
        </section>
    </div>

    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>