<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Storia</title>
    <link href="static/css/css08-11 (2021).css" rel="stylesheet">
</head>
 
<body>
    <header>
        <img src="static/img/logo/logo_large.png" />
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>

        </ul>

    </nav>
    <div class="content">
    <section>

        <article>
            <header>
                <h1>La storia dello Skateboard</h1>
            </header>
            <p>1940-1960 I primi skateboard iniziarono con tavole, con ruote per pattini a rotelle attaccate al fondo. Lo skateboard, come lo conosciamo, è probabilmente nato alla fine degli anni '40, o all'inizio degli anni '50, quando i surfisti in California
                volevano qualcosa da fare quando le onde erano piatte. Questo è stato chiamato "surf sul marciapiede". Quando la popolarità dello skateboard iniziò ad espandersi, la prima rivista di skateboard, The Quarterly Skateboarder fu pubblicata
                nel 1964. John Severson, che ha pubblicato la rivista, ha scritto nel suo primo editoriale: «Gli skater di oggi sono i fondatori di questo sport, sono dei pionieri, sono i primi. La storia dello skateboarding non esiste, essa sta venendo
                costruita oggi, da voi. Lo sport è stato plasmato e crediamo che fare la cosa giusta ora porterà a un futuro luminoso per lo sport. Ci sono già nuvole temporalesche all'orizzonte con gli avversari dello sport che parlano di divieti e restrizioni.»
                La rivista durò solo quattro numeri, ma riprese la pubblicazione come Skateboarder nel 1975. La prima trasmissione di una vera competizione di skateboard fu il Campionato Nazionale di Skateboard del 1965, che si tenne ad Anaheim, in California.
                Nel 1966 diverse fonti iniziarono a sostenere che lo skateboard fosse pericoloso, con il risultato che i negozi erano riluttanti a venderli e i genitori erano riluttanti a comprarli: le vendite diminuirono in modo significativo e Skateboarder
                Magazine aveva interrotto la pubblicazione. La popolarità dello skateboard è diminuita ed è rimasta bassa fino all'inizio degli anni '70. </p>
        </article>
    </section>
</div>
    
    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>