<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Tavole</title>
    <link href="static/css08-11 (2021).css" rel="stylesheet">
</head>
 
<body>
    <header>
        <img src="static/logo_large.png" />
        <h1>Skate Shop </h1>
        <h1>Tavole</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>

        </ul>

    </nav>

    <section>
        <article>

            <div class="container-imgs">
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1595329223-31386800.jpg" width:="150" height="180" />
                    <p>Jart 8.0 59,95 €</p>
                </div>
                <div> <img src="https://www.fillow.it/images/products/thumbnails/1608226613-44912600.jpg" width:="150" height="180" />
                    <p>Baker 8.5 87,90 €</p>
                </div>

                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1634921214-93138700.jpg" width:="150" height="180" />
                    <p>Powell 9.75 109,90 €</p>
                </div>
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1636723675-85064800.jpg" width:="150" height="180" />
                    <p>Foundation 8.5 66,90 €</p>
                </div>
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1636722886-74034800.jpg" width:="150" height="180" />
                    <p>Toy Machine 8.5 61,90 €</p>
                </div>
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1636883699-76193300.jpg" width:="150" height="180" />
                    <p>Zero 8.0 67,99 €</p>
                </div>
            </div>

        </article>
    </section>

    
    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>



</body>

</html>

</html>