<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Tool</title>
    <link href="static/css/css08-11 (2021).css" rel="stylesheet">
</head>
 
<body>
    <header>
        <img src="static/img/logo/logo_large.png" />
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
        </ul>

    </nav>

    <section>

        <article>
            <div class="container-imgs">
                <div>
                    <img src="https://media.titus.de/media/image/84/b4/06/TITUS-Skate-Tools-Classic-T-black-black-Vorderansicht_600x600.jpg" width:="150" height="180" />
                    <p>TITUS€ 11,99</p>
                </div>
                <div> <img src="https://media.titus.de/media/image/7d/e5/13/pig-skate-tools-tool-inkl-gewindeschneider-black-vorderansicht-0150222_600x600.jpg" width:="150" height="180" />
                    <p>Pig € 21,99</p>
                </div>

                <div>
                    <img src="https://media.titus.de/media/image/de/db/9c/Modus-Skate-Tools-Utility-black-black-Vorderansicht_600x600.jpg" width:="150" height="180" />
                    <p>Modus Utility € 12,99</p>
                </div>
                <div>
                    <img src="https://media.titus.de/media/image/e5/61/08/ace-skate-tools-af1-skate-tool-black-vorderansicht-0198085_600x600.jpg" width:="150" height="180" />
                    <p>Ace € 32,99</p>
                </div>
                <div>
                    <img src="https://media.titus.de/media/image/53/ab/0e/titan-skateboard-tools-skate-tools-multifunction-tool-black-rueckenansicht-0198080_600x600.jpg" width:="150" height="180" />
                    <p>TITAN € 14,99</p>
                </div>
                <div>
                    <img src="https://media.titus.de/media/image/08/fc/14/silver-skate-tools-metalic-silver-vorderansicht_600x600.jpg" width:="150" height="180" />
                    <p>Silver € 31,99</p>
                </div>
            </div>
        </article>
    </section>

    
    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>