<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Truck</title>
    <link href="static/css/css08-11 (2021).css" rel="stylesheet">
</head>
 
<body>
    <header>
        <img src="static/img/logo/logo_large.png" />
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
        </ul>
    </nav>

    <section>

        <article>
            <div class="container-imgs">
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1636912078-81510900.jpg" width:="150" height="180" />
                    <p>Industrial 5.25 38,00 €</p>
                </div>
                <div> <img src="https://www.fillow.it/images/products/thumbnails/1636911640-55038000.jpg" width:="150" height="180" />
                    <p>Destructo 5.75 63,80 €</p>
                </div>

                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1629886166-76190500.jpg" width:="150" height="180" />
                    <p>Independent: 169 109,80 €</p>
                </div>
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1622107954-13316700.jpg" width:="150" height="180" />
                    <p>Venture 5.2 89,90 €</p>
                </div>
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1589020141-70333700.jpg" width:="150" height="180" />
                    <p>Enuff 129 34,95 €</p>
                </div>
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1447331279-06973700.jpg" width:="150" height="180" />
                    <p>Bullet 140 43,80 €</p>
                </div>
            </div>
        </article>
    </section>

    
    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>