<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>SkateShop</title>
    <link href="static/css08-11(2022).css" rel="stylesheet">
</head>
 
<body>
    <header>
        <img src="static/logo_large.png" />
    </header>
  
    <div class="content">
        <section>
            <article>
                <nav>
                    <ul>
                        <form action="/selezione1" method = "GET">

  
                            <input id="r1" type = "radio" name = "Scelta" class="radio1" value = "login"/>
                            <label for="r1">login</label>

                            <p><input type = "submit" value = "clicca qui" /></p>

                            
                            <input id="r2" type = "radio" name = "Scelta" class="radio2" value = "new_account"/>
                            <label for="r2">new_account</label>
                           
                            
                        </form>
                    </ul>
                </nav>
            </article>
        </section>
    </div>

    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>